<div *ngIf="!dameRiesgoLiquidezServer.visible" class="d-flex justify-content-center mt-5">
  <div class="spinner-border" role="status">
    <span class="sr-only">Loading...</span>
  </div>
</div>

<div class="conteiner-12 mx-5 mt-4 pt-4">
  <div class="row justify-content-center">
    <h3 class="col text-center">Riesgo Liquidez</h3>
  </div>
  <div class="row justify-content-center">
    <div class="col-12 mb-4">
      <lsy-tabla-la *ngIf="dameRiesgoLiquidezServer.visible" [columnas]="dtColumnas" [datosX]="dameRiesgoLiquidezServer.riesgoLiquidez" [barraY]="'40vh'"></lsy-tabla-la>
    </div>
  </div>
</div>
