.pointer {
  cursor: pointer;
}


// Estilos para el checked
.tgl {
	display: none;

	// add default box-sizing for this scope
	&,
  &:after,
  &:before,
	& *,
  & *:after,
  & *:before,
	& + .tgl-btn {
		box-sizing: border-box;
		&::selection {
			background: none;
		}
	}

	+ .tgl-btn {
		outline: 2;
		display: block;
		width: 5em;
		height: 2em;
		position: relative;
		cursor: pointer;
    user-select: none;
		&:after,
    &:before {
			position: relative;
			display: block;
			content: 'BVRD';
			width: 50%;
			height: 100%;
		}

		&:after {
      left: 0;
		}

		&:before {
			display: none;
		}
	}

	&:checked + .tgl-btn:after {
    content: 'OTC';
		left: 50%;
	}

	+ .tgl-btn2 {
		outline: 2;
		display: block;
		width: 5em;
		height: 2em;
		position: relative;
		cursor: pointer;
    user-select: none;
		&:after,
    &:before {
			position: relative;
			display: block;
			content: 'OFF';
			width: 50%;
			height: 100%;
		}

		&:after {
      left: 0;
		}

		&:before {
			display: none;
		}
	}

	&:checked + .tgl-btn2:after {
    content: 'ON';
		left: 50%;
	}
}

// themes
.tgl-ios {
	+ .tgl-btn, + .tgl-btn2 {
		background: #fbfbfb;
		border-radius: 2em;
		padding: 2px;
		transition: all .4s ease;
		border: 1px solid #e8eae9;
		&:after {
			border-radius: 2em;
			background: #fbfbfb;
			transition:
        left .3s cubic-bezier(
          0.175, 0.885, 0.320, 1.275
        ),
        padding .3s ease, margin .3s ease;
			box-shadow:
        0 0 0 1px rgba(0,0,0,.1),
        0 4px 0 rgba(0,0,0,.08);
		}

    &:hover:after {
      will-change: padding;
    }

		&:active {
			box-shadow: inset 0 0 0 2em #e8eae9;
			&:after {
				padding-right: .8em;
			}
		}
	}

	&:checked + .tgl-btn, &:checked + .tgl-btn2 {
    background: #6c757d;
    &:active {
      box-shadow: none;
      &:after {
        margin-left: -.8em;
      }
    }
	}
}

::placeholder {
  text-transform: capitalize;
  color: rgba(116, 111, 111, 0.589);
}
