// a {
//   text-decoration: none;
//   color:white;
// }

// ul {
//   list-style: none;
// }

// li  {
//   display: inline-block;
//   position: relative;
//   transition-duration: 0.5s;
// }

// li a:hover {
//   cursor: pointer;
//   color:  #a3b6ba;
//   background: #343a40;
// }

// ul li a {
//   text-decoration:none;
//   display:block;
// }

// ul li ul {
//   background: #343a40;
//   visibility: hidden;
//   opacity: 0;
//   position: absolute;
//   transition: all 0.5s ease;
//   left: 0;
// }

// ul li:hover > ul,
// ul li ul:hover {
//   visibility: visible;
//   opacity: 1;
// }

