<div class="container-12 mx-5">
  <div class="row pt-3">

    <img src="../../../../assets/img/Logo parval.png" [ngStyle]="dameCalendario['xborde']" alt="" class="mb-3">
    <div class="col-xl-6 align-self-end pl-4 pr-0">

      <h1>BVRD</h1>
      <h4 *ngIf="dameCalendario.CadOut != undefined" [ngStyle]="dameCalendario['xborde2']" class="pl-2 py-1">{{ dameCalendario.CadOut.Vehiculo }}</h4>

      <div class="row ml-1" *ngIf="dameCalendario.CadOut != undefined">
        <p class=""><i class="fas fa-phone-alt pr-1" [ngStyle]="dameCalendario['xcolor']"></i>{{ dameCalendario.CadOut.Tlfveh1 }}</p>
        <p class="ml-2"><i class="fas fa-envelope pr-1" [ngStyle]="dameCalendario['xcolor']"></i>{{ dameCalendario.CadOut.Email }}</p>
        <p class="  ml-2"><i class="fas fa-globe-americas pr-1" [ngStyle]="dameCalendario['xcolor']"></i>{{ dameCalendario.CadOut.Webpage }}</p>
      </div>
    </div>

    <div class="col-xl-5 ml-0 pl-0 pt-2">
      <h5 class="text-center"><i class="fas fa-flag pr-1 rounded-circle p-2" [ngStyle]="dameCalendario['xbgColor']"></i> Seleccion</h5>

      <div class="row justify-content-center">
        <input type="text" class="form-control col-3 ml-4" placeholder="Titulo" data-toggle="tooltip" data-placement="top" title="Codigo del Titulo a Buscar" [(ngModel)]="codgoTitulo" (focus)="inicializar()">
        <input type="text" class="form-control col-3 ml-2" placeholder="Moneda" data-toggle="tooltip" data-placement="top" title="Codigo de la Moneda a Buscar" [(ngModel)]="codgoMoneda">
        <input type="text" class="form-control col-3 ml-2" placeholder="Cliente" data-toggle="tooltip" data-placement="top" title="Codigo del Cliente a Buscar" [(ngModel)]="codgoCliente">

        <div class="btn-group dropleft ml-3">
          <button type="button" class="btn btn-outline-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Menu
          </button>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="#" (click)="getDatosM()"><i class="fas mr-2 fa-search"></i>Buscar Cliente</a>
            <a class="dropdown-item" href="#" (click)="getDatosM()"><i class="fas mr-2 fa-camera"></i>Dame Datos M</a>
            <a class="dropdown-item" href="#" (click)="getCOrdenX()"><i class="fas mr-2 fa-portrait"></i>Dame COrdenX</a>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
