<div *ngIf="!damePosicionMAnt.visible" class="d-flex justify-content-center mt-5">
  <div class="spinner-border" role="status">
    <span class="sr-only">Loading...</span>
  </div>
</div>

<div class="conteiner-12 mx-5">
  <div class="row justify-content-center">
    <div class="col-12 my-4" *ngIf="damePosicionMAnt.visible">
      <lsy-tabla-la *ngIf="visibleColumnas" [columnas]="dtColumnas" [datosX]="damePosicionMAnt.CadOut" class="tabla-font-12" [barraY]="'40vh'" [orden]="[7, 'asc']" [idioma]="tIdioma" [colorTH]="dameCalendario.CadOut.Color"></lsy-tabla-la>
    </div>
  </div>
</div>

