// .list-group-item-dark.list-group-item-action.active {
//   background-color: #343a40;
//   border-color: #343a40;
// }

// .vh-90 {
//   height: 90vh;
// }

table {
  width: 100% !important;
}

.bg-gris {
  background-color: #c9cbce !important;
}

.divchart {
  width: 49vw;
  color: rgba(250, 2, 2, 0.548);
}
