<app-header *ngIf="dameCalendario.visible"  (codConsulta)="consultarGeneral($event)" (idioma)="setIdioma($event)"></app-header>


<div *ngIf="dameCalendario.visible" class="container-12 bg-gris">
  <div class="container-12 mx-5">
    <div class="row">

      <div class="col-4">
        <div class="row">
          <div class="col pl-0">
            <h1 [ngStyle]="dameCalendario['xcolor']" class="text-center"><strong>{{ calculosRD.estadisticas.canti.PosturasM }}</strong></h1>
            <p class="text-nowrap"><span traductorLA>Posturas</span> {{ calculosRD.estadisticas.canti.PosturasP }}</p>
          </div>
          <div class="col">
            <h1 [ngStyle]="dameCalendario['xcolor']" class="text-center"><strong>{{ calculosRD.estadisticas.canti.PrimarioM }}</strong></h1>
            <p class="text-nowrap"><span traductorLA>Primario</span> {{ calculosRD.estadisticas.canti.PrimarioP }}</p>
          </div>
          <div class="col">
            <h1 [ngStyle]="dameCalendario['xcolor']" class="text-center"><strong>{{ calculosRD.estadisticas.canti.MarketMM }}</strong></h1>
            <p class="text-nowrap">MMakers {{ calculosRD.estadisticas.canti.MarketMP }}</p>
          </div>
          <div class="col">
            <h1 [ngStyle]="dameCalendario['xcolor']" class="text-center"><strong>{{ calculosRD.estadisticas.canti.OperacionesM }}</strong></h1>
            <p class="text-nowrap"><span traductorLA>Operac</span> {{ calculosRD.estadisticas.canti.OperacionesP }}</p>
          </div>
        </div>

        <div class="row">
          <div class="col-12 pl-0">
            <h3>
              <i class="fas fa-user pr-1 rounded-circle p-2" [ngStyle]="dameCalendario['xbgColor']"></i>
              <span class="ml-1" traductorLA>Que paso</span>
            </h3>
          </div>
          <p *ngIf="quePaso != undefined" class="tabla-font-12">
            {{ quePaso }}
          </p>
        </div>
      </div>

      <div class="col-2 pl-4 pt-2">
        <h3>
          <i class="fas fa-calendar-day pr-1 rounded-circle p-2" [ngStyle]="dameCalendario['xbgColor']"></i>
          <span class="ml-1" traductorLA>Hoy</span>
        </h3>

        <div *ngIf="fechaActual === dameCalendario.CadOut.Fecha; else fechaDoble">
          <p class="mb-0" traductorLA>Fecha</p>
          <p *ngIf="dameCalendario.CadOut != undefined" [ngStyle]="dameCalendario['xcolor']"><strong> {{ dameCalendario.CadOut.Fecha }} </strong></p>
        </div>

        <ng-template #fechaDoble>
          <p *ngIf="dameCalendario.CadOut != undefined" [ngStyle]="dameCalendario['xcolor']"><strong> {{ fechaActual }} </strong></p>

          <p class="mb-0" traductorLA>Fecha Sistema</p>
          <p *ngIf="dameCalendario.CadOut != undefined" [ngStyle]="dameCalendario['xcolor']"><strong> {{ dameCalendario.CadOut.Fecha }} </strong></p>
        </ng-template>


        <p class="mb-0"><span traductorLA>Mas Transada</span> DOP</p>
        <p [ngStyle]="dameCalendario['xcolor']"><strong>{{ calculosRD.estadisticas.MastransadaDOP }} / {{ calculosRD.estadisticas.MastranMtoDOP | number:'.0-0' }}</strong></p>

        <p class="mb-0"><span traductorLA>Mas Transada</span> USD</p>
        <p [ngStyle]="dameCalendario['xcolor']"><strong>{{ calculosRD.estadisticas.MastransadaUSD }} / {{ calculosRD.estadisticas.MastranMtoUSD | number:'.0-0' }}</strong></p>

        <p class="mb-0" traductorLA>Emisiones</p>
        <p [ngStyle]="dameCalendario['xcolor']"><strong>{{ calculosRD.estadisticas.Emisiones }}</strong></p>

        <p class="mb-0" traductorLA>T/Cambio</p>
        <p [ngStyle]="dameCalendario['xcolor']"><strong>{{ dameCalendario.CadOut.Tcdolar }}</strong></p>
      </div>

      <div class="col-6 pt-2">
        <h3 class="text-center">
          <i class="fas fa-money-bill-wave pr-1 rounded-circle p-2" [ngStyle]="dameCalendario['xbgColor']"></i>
          <span traductorLA class="ml-1">Movimiento por</span> <span traductorLA> Titulo</span>
        </h3>
        <lvi-tabla-la *ngIf="calculosRD.visibleMovi" [columnas]="dtColumnasEjemplo" [datosX]="calculosRD.estadisticas.Movi" class="tabla-font-12" [botones]="false" [barraY]="'30vh'" [idioma]="tipoIdioma" [colorTH]="dameCalendario.CadOut.Color"></lvi-tabla-la>
      </div>

    </div>
  </div>
</div>

<div *ngIf="dameCalendario.visible" class="container-12 mx-5 pt-1">
  <div class="row">
    <div class="col-4 pr-0">
      <h3 class="text-center"><i class="fas fa-graduation-cap pr-1 rounded-circle p-2" [ngStyle]="dameCalendario['xbgColor']"></i>
        <span traductorLA class="ml-1">Montos Transados</span> <i *ngIf="consultaTipo === '3'"> {{ dameTitulos.ParamIn.Cotitulo }} </i>
      </h3>

      <div class="row">
        <div class="col">
          <div class="divchart-ss">
            <canvas id="graficoMonTran"></canvas>
          </div>
          <h3 class="text-right ml-5 pl-2" [ngStyle]="dameCalendario['xcolor']">{{ calculosRD.estadisticas.canti.MtodopM | number:'.2-2' }}</h3>
        </div>

        <div class="col">
          <div class="divchart-ss">
            <canvas id="graficoMonTran2"></canvas>
          </div>
          <h3 class="text-right ml-5 pl-2" [ngStyle]="dameCalendario['xcolor']">{{ calculosRD.estadisticas.canti.MtousdM | number:'.2-2' }}</h3>
        </div>

        <div class="col">
          <div class="divchart-ss">
            <canvas id="graficoMonTran3"></canvas>
          </div>
          <h3 class="text-right ml-5 pl-2" [ngStyle]="dameCalendario['xcolor']">{{ calculosRD.estadisticas.canti.MtototM | number:'.2-2' }}</h3>
        </div>

      </div>
    </div>

    <div class="col-4">
      <h3 class="text-center"><i class="fas fa-comments-dollar pr-1 rounded-circle p-2" [ngStyle]="dameCalendario['xbgColor']"></i>
        <span traductorLA class="ml-1">Precios</span>
      </h3>

      <div class="row justify-content-center">
        <div class="divchart">
          <canvas id="graficoPrecio"></canvas>
        </div>
      </div>
    </div>

    <div class="col-4">
      <h3 class="text-center"><i class="fas fa-briefcase pr-1 rounded-circle p-2" [ngStyle]="dameCalendario['xbgColor']"></i>
        <span traductorLA class="ml-1">Volumenes</span>
      </h3>

      <div class="row justify-content-center">
        <div class="divchart">
          <canvas id="graficoVolumen"></canvas>
        </div>
      </div>
    </div>
  </div>
</div>

<app-datos-m *ngIf="consultaTipo === '1' && codigoCliente !== ''" [codRif]="codigoCliente"></app-datos-m>
<app-posicion-m-ant *ngIf="consultaTipo === '1'" [codRif]="codigoCliente" [fecha]="dameCalendario.CadOut.Fecha" [mov]="calculosRD.estadisticas.Movi" [tipIdioma]="tipoIdioma"></app-posicion-m-ant>

<app-cordenx *ngIf="consultaTipo === '2'" [codRif]="codigoCliente" [fecha]="dameCalendario.CadOut.Fecha" [titulo]="codigoTitulo"  [mecaOTC]="mecaOTC" [tipIdioma]="tipoIdioma"></app-cordenx>

<app-posturas-propias *ngIf="consultaTipo === '4'" [datos]="!damePosturasP.posturasPropias[0] ? [] : damePosturasP.posturasPropias[0].CadJson" [filtros]="codigoMoneda + ';' + codigoTitulo" class="tabla-font-11" [tipIdioma]="tipoIdioma"></app-posturas-propias>

<app-posturas-siopel *ngIf="consultaTipo === '5'" [datos]="!damePosturasM.posturasSiopel[0] ? [] : damePosturasM.posturasSiopel[0].CadJson" [filtros]="codigoMoneda + ';' + codigoTitulo" class="tabla-font-11" [tipIdioma]="tipoIdioma"></app-posturas-siopel>

<app-operaciones-propias *ngIf="consultaTipo === '6'" [datos]="!dameOperaciones.operacionBvrd[0] ? [] : dameOperaciones.operacionBvrd[0].CadJson" [filtros]="codigoMoneda + ';' + codigoTitulo" class="tabla-font-11" [tipIdioma]="tipoIdioma"></app-operaciones-propias>

<app-operacion-mrkt *ngIf="consultaTipo === '8'" [datos]="!dameOperacionesMrkt.operacionBvrdMrkt[0] ? [] : dameOperacionesMrkt.operacionBvrdMrkt[0].CadJson" [filtros]="codigoMoneda + ';' + codigoTitulo" class="tabla-font-11" [tipIdioma]="tipoIdioma"></app-operacion-mrkt>

<app-operaciones-otc *ngIf="consultaTipo === 'A'" [datos]="!dameOperacionesMrkt.operacionBvrdMrkt[0] ? [] : dameOperacionesMrkt.operacionBvrdMrkt[0].CadJson" [codISIN]="codigoTitulo" [codMoneda]="codigoMoneda" class="tabla-font-11" [tipIdioma]="tipoIdioma"></app-operaciones-otc>

<app-posicion-propia *ngIf="consultaTipo === '9'"  [codISIN]="codigoTitulo" [mov]="calculosRD.estadisticas.Movi" class="tabla-font-11" [tipIdioma]="tipoIdioma"></app-posicion-propia>

<app-riesgo-liquidez *ngIf="consultaTipo === '7'" class="tabla-font-11" [tipIdioma]="tipoIdioma"></app-riesgo-liquidez>

<app-footer *ngIf="dameCalendario.visible"></app-footer>
