.list-group-item-dark.list-group-item-action.active {
  background-color: #343a40;
  border-color: #343a40;
}

.vh-90 {
  height: 90vh;
  background-color: #c6c8ca !important;
}

table {
  width: 100% !important;
}
