<app-header *ngIf="dameCalendario.visible"  (codCliente)="consultarCliente($event)"></app-header>


<div *ngIf="dameCalendario.visible" class="container-12 bg-gris">
  <div class="container-12 mx-5">
    <div class="row">

      <div class="col-4">
        <div class="row">
          <div class="col pl-0">
            <h1 [ngStyle]="dameCalendario['xcolor']" class="text-center"><strong>{{ calculosRD.estadisticas.canti.PosturasM }}</strong></h1>
            <p class="text-center">Posturas {{ calculosRD.estadisticas.canti.PosturasP }}</p>
          </div>
          <div class="col">
            <h1 [ngStyle]="dameCalendario['xcolor']" class="text-center"><strong>{{ calculosRD.estadisticas.canti.PrimarioM }}</strong></h1>
            <p class="text-center">Primario {{ calculosRD.estadisticas.canti.PrimarioP }}</p>
          </div>
          <div class="col">
            <h1 [ngStyle]="dameCalendario['xcolor']" class="text-center"><strong>{{ calculosRD.estadisticas.canti.MarketMM }}</strong></h1>
            <p class="text-center">MMakers {{ calculosRD.estadisticas.canti.MarketMP }}</p>
          </div>
          <div class="col">
            <h1 [ngStyle]="dameCalendario['xcolor']" class="text-center"><strong>{{ calculosRD.estadisticas.canti.OperacionesM }}</strong></h1>
            <p class="text-center">Operaciones {{ calculosRD.estadisticas.canti.OperacionesP }}</p>
          </div>
        </div>

        <div class="row">
          <div class="col-12 pl-0">
            <h3><i class="fas fa-user pr-1 rounded-circle p-2" [ngStyle]="dameCalendario['xbgColor']"></i> Que paso?</h3>
          </div>
          <p *ngIf="dameCalendario.CadOut != undefined">{{ dameCalendario.CadOut.Comentarios }}</p>
        </div>
      </div>

      <div class="col-2 pl-4 pt-2">
        <h3><i class="fas fa-calendar-day pr-1 rounded-circle p-2" [ngStyle]="dameCalendario['xbgColor']"></i> Hoy</h3>

        <div *ngIf="fechaActual === dameCalendario.CadOut.Fecha; else fechaDoble">
          <p class="mb-0">Fecha</p>
          <p *ngIf="dameCalendario.CadOut != undefined" [ngStyle]="dameCalendario['xcolor']"><strong> {{ dameCalendario.CadOut.Fecha }} </strong></p>
        </div>

        <ng-template #fechaDoble>
          <p class="mb-0">Fecha</p>
          <p *ngIf="dameCalendario.CadOut != undefined" [ngStyle]="dameCalendario['xcolor']"><strong> {{ fechaActual }} </strong></p>

          <p class="mb-0">Fecha Sistema</p>
          <p *ngIf="dameCalendario.CadOut != undefined" [ngStyle]="dameCalendario['xcolor']"><strong> {{ dameCalendario.CadOut.Fecha }} </strong></p>
        </ng-template>


        <p class="mb-0">Mas Transada DOP</p>
        <p [ngStyle]="dameCalendario['xcolor']"><strong>{{ calculosRD.estadisticas.MastransadaDOP }} / {{ calculosRD.estadisticas.MastranMtoDOP | number:'.2-2' }}</strong></p>

        <p class="mb-0">Mas Transada USD</p>
        <p [ngStyle]="dameCalendario['xcolor']"><strong>{{ calculosRD.estadisticas.MastransadaUSD }} / {{ calculosRD.estadisticas.MastranMtoUSD | number:'.2-2' }}</strong></p>

        <p class="mb-0">Emisiones</p>
        <p [ngStyle]="dameCalendario['xcolor']"><strong>{{ calculosRD.estadisticas.emisiones }}</strong></p>

        <p class="mb-0">Tipo de Cambio</p>
        <p [ngStyle]="dameCalendario['xcolor']"><strong>{{ dameCalendario.CadOut.Tcdolar }}</strong></p>
      </div>

      <div class="col-6 pt-2">
        <h3 class="text-center"><i class="fas fa-money-bill-wave pr-1 rounded-circle p-2" [ngStyle]="dameCalendario['xbgColor']"></i>
          Movimiento</h3>
        <lsy-tabla-la *ngIf="calculosRD.visibleMovi" [columnas]="dtColumnasEjemplo" [datosX]="calculosRD.estadisticas.Movi" [filas]="5" class="tabla-font-12"></lsy-tabla-la>
      </div>

    </div>
  </div>
</div>

<div *ngIf="dameCalendario.visible" class="container-12 mx-5 pt-1">
  <div class="row">
    <div class="col-4 pr-0">
      <h3 class="text-center"><i class="fas fa-graduation-cap pr-1 rounded-circle p-2" [ngStyle]="dameCalendario['xbgColor']"></i> Montos
        Transados</h3>

      <div class="row">
        <div class="col">
          <div class="divchart-ss">
            <canvas id="graficoMonTran"></canvas>
          </div>
          <h3 class="text-right ml-5 pl-2" [ngStyle]="dameCalendario['xcolor']">{{ calculosRD.estadisticas.canti.MtodopM | number:'.2-2' }}</h3>
        </div>

        <div class="col">
          <div class="divchart-ss">
            <canvas id="graficoMonTran2"></canvas>
          </div>
          <h3 class="text-right ml-5 pl-2" [ngStyle]="dameCalendario['xcolor']">{{ calculosRD.estadisticas.canti.MtousdM | number:'.2-2' }}</h3>
        </div>

        <div class="col">
          <div class="divchart-ss">
            <canvas id="graficoMonTran3"></canvas>
          </div>
          <h3 class="text-right ml-5 pl-2" [ngStyle]="dameCalendario['xcolor']">{{ calculosRD.estadisticas.canti.MtototM | number:'.2-2' }}</h3>
        </div>

      </div>
    </div>

    <div class="col-4">
      <h3 class="text-center"><i class="fas fa-comments-dollar pr-1 rounded-circle p-2" [ngStyle]="dameCalendario['xbgColor']"></i>
        Precios</h3>

      <div class="row justify-content-center">
        <div class="divchart">
          <canvas id="graficoPrecio"></canvas>
        </div>
      </div>
    </div>

    <div class="col-4">
      <h3 class="text-center"><i class="fas fa-briefcase pr-1 rounded-circle p-2" [ngStyle]="dameCalendario['xbgColor']"></i> Volumenes
      </h3>

      <div class="row justify-content-center">
        <div class="divchart">
          <canvas id="graficoVolumen"></canvas>
        </div>
      </div>
    </div>
  </div>
</div>

<app-datos-m *ngIf="consultaTipo === '1'" [codRif]="codigoCliente"></app-datos-m>
<app-posicion-m-ant *ngIf="consultaTipo === '1'" [codRif]="codigoCliente" [fecha]="dameCalendario.CadOut.Fecha"></app-posicion-m-ant>
<app-cordenx *ngIf="consultaTipo === '2'" [codRif]="codigoCliente" [fecha]="dameCalendario.CadOut.Fecha" [titulo]="codigoTitulo"></app-cordenx>
<app-posturas-propias *ngIf="consultaTipo === '4'" [datos]="damePosturasP.posturasPropias[0].CadJson" [codISIN]="codigoTitulo" class="tabla-font-11"></app-posturas-propias>
<app-posturas-siopel *ngIf="consultaTipo === '5'" [datos]="damePosturasM.posturasSiopel[0].CadJson" [codISIN]="codigoTitulo" class="tabla-font-11"></app-posturas-siopel>
<app-operaciones-propias *ngIf="consultaTipo === '6'" [datos]="dameOperaciones.operacionBvrd[0].CadJson" [codISIN]="codigoTitulo" class="tabla-font-11"></app-operaciones-propias>
