<div *ngIf="!pospropiaService.visible" class="d-flex justify-content-center mt-5">
    <div class="spinner-border" role="status">
      <span class="sr-only">Loading...</span>
    </div>
  </div>


  <div class="conteiner-12 mx-5 mt-4 pt-4">
    <div class="row justify-content-center">
      <h3 class="col text-center"><span traductorLA>Posicion Propia</span>. {{nmcliente}} </h3>
    </div>
    <div class="row justify-content-center">
      <div class="col-12 my-4" *ngIf="pospropiaService.visible">
        <lvi-tabla-la *ngIf="visibleColumnas" [columnas]="dtColumnas" [datosX]="pospropiaService.Ts" class="tabla-font-12" [barraY]="'40vh'" [orden]="[0, 'asc']" [idioma]="tIdioma" [colorTH]="dameCalendario.CadOut.Color"></lvi-tabla-la>
      </div>
    </div>
  </div>
