<div class="conteiner-12 mx-5">
  <div class="row my-4 justify-content-center">
    <div *ngIf="dameDatosM.visible" class="card col-12 shadow">
      <div class="card-body">
        <h5 class="card-title text-center">{{ dameDatosM.CadOut.Apellido + ' ' + dameDatosM.CadOut.Nombre }}</h5>
        <hr>
        <div class="row">
          <p class="card-text col"><b>Telefono1:</b> {{ dameDatosM.CadOut.Tlf1 | mask: '(000) 000-00-00' }}</p>
          <p class="card-text col"><b>Telefono2:</b> {{ dameDatosM.CadOut.Tlf2 | mask: '(000) 000-00-00' }}</p>
          <p class="card-text col"><b>Email:</b> {{ dameDatosM.CadOut.Email }}</p>
          <p class="card-text col"><b>Ejecutivo:</b> {{ dameDatosM.CadOut.Ejecutivo }}</p>
          <p class="card-text col"><b>Direccion:</b> {{ dameDatosM.CadOut.Dirhabitacion1 + ' ' + dameDatosM.CadOut.Dirhabitacion2 + ' ' + dameDatosM.CadOut.Dirhabitacion3}} </p>
        </div>
        <!-- <div class="row">

        </div> -->
      </div>
    </div>
  </div>
</div>
