/* You can add global styles to this file, and also import other style files */
.bg-gris {
  background-color: #c9cbce !important;
}

.tabla-font-12 {
  font-size: 12px
}

.tabla-font-11 {
  font-size: 11px
}
